
*
{
    margin: 0px;
    padding: 0px;
}

.tete
{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    height: 65px;
}

.logo
{
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
    height: 60px;   
}

.logo img
{
    width: 40px;
    height: 40px;
}

.logo h2
{
    color: white;
}

.logo:hover
{
    cursor: pointer;
}



.list
{
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 550px;
    font-weight: bold;
}



.list li:hover
{
    cursor: pointer;
    color: #08f32ffb;
}

.list li:nth-child(4):hover
{
    color: white;
    cursor: context-menu;
}

.main1
{
    height: 75vh;
    background-color: #96f0b6;
    display: flex;
    padding: 75px;
}

.main1-left
{
    width: 65%;
    padding: 15px;
}

.main1-left p
{
    color: #202f72;
}

.main1-left h3
{
    color: #202f72;
}

.main1-left p:nth-child(1)
{
    font-size: 13px;
    font-weight: bold;
}

.main1-left p:nth-child(2)
{
    font-size: 55px;
    font-weight: bold;
    margin: 35px 0px;
}

.btn
{
    margin: 35px 10px;
    width: 270px;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    background-color: #202f72;
    color: #96f0b6;
    font-weight: bold;
}

.btn:hover
{
    cursor: pointer;
    width: 280px;
    margin: 35px 5px; 
    font-size: 18px;
    background-color: #141f4e;
}

.main1-left p:nth-child(5)
{
    font-size: 13px;
}


.main1-right
{
    width: 35%;
    align-items: center;
    padding: 15px;
}

.main1-right img
{
    width: 400px;
}

.main2
{
    height: 95vh;
    background-color: #f46ebe;
    display: flex;
    padding-left: 75px;
}

.main2-left
{
    width: 52%;
    padding: 15px;
    color: #202f72;
}

.main2-left p:nth-child(2)
{
    font-size: 70px;
    font-weight: bold;
    margin: 35px 0px;
}

.main2-left h3
{
    margin: 35px 0px ;
}

.main2-left h5
{
    margin: 35px 0px ;
}

.main2-right
{
    width: 48%;
}

.main2-right img
{
    width: 600px;
    height: 95vh;
}

.stores
{
    width: 300px;
    height: 35px;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.stores img:nth-child(1)
{
    margin-right: 20px;
}

.main3
{
    height: 70vh;
    padding: 75px;
    background-color: #2941ab;
    background: url("main3_bg.png") no-repeat center center/cover;
}

.main3-left
{
    padding: 15px;
    width: 50%;
    color: #1ed760;
    height: 70vh;
}

.main3-left p:nth-child(2)
{
    font-size: 60px;
    font-weight: bold;
    margin: 50px 0px;
}

.main3-left button
{
    color: #2941ab;
    background-color: #1ed760;
}

.main3-left button:hover
{
    background-color: #0eee5c;
}

.footer
{
    background-color: black;
    height: 65vh;
    padding: 75px 75px;
}

.footer-top
{
    display: flex;
    justify-content: space-between;
    height: 45vh;
    align-items: top;
    padding: 20px;
}

.lista
{
    align-items: center;
    margin-top: 25px;
}

.titre
{
    color: rgba(168, 166, 168, 0.719);
    margin-bottom: 25px;
}

.sous-titre
{
    color: white;
    list-style: none;
}

.sous-titre li
{
    margin: 15px 0px;
}

.sous-titre li:hover
{
    color: #08f32ffb;
    cursor: pointer;
}

.accounts
{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    height: 60px;
}

.accounts img
{
    width: 30px;
    height: 30px;
    border-bottom: white 1px solid;
    margin: 15px;
}

.accounts img:hover
{
    color: #08f32ffb;
    cursor: pointer;
}

.footer-bottom
{
    height: 20vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left
{
    width: 700px;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    color: rgba(168, 162, 162, 0.808);
    list-style: none;
    display: flex;
}

.footer-bottom-left li:hover
{
    color: #08f32ffb;
    cursor: pointer;
}

.footer-bottom-right
{
    height: 10vh;
    width: 150px;
    color: rgba(128, 128, 128, 0.753);
    align-items: center;
}

.language
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 50px;
    margin-left: 80px;
}

.language:hover
{
    cursor: pointer;
    color: #08f32ffb;
}

.fin
{
    padding: 5px;
    margin-left: 25px;
}